
    #j {
        height: 200px;
        background-color:yellowgreen;
    }
    #i {
        height: 200px;
        background-color:aqua;
    }
    #u {
        height: 200px;
        background-color:black;
    }
    #l {
        height: 200px;
        background-color:aqua;
    }